[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emBayes"]
	path = emBayes
	url = https://github.com/cran/emBayes
[submodule "strata.MaxCombo"]
	path = strata.MaxCombo
	url = https://github.com/cran/strata.MaxCombo
